<%- include('../template/top.ejs', { files: ['css/login.css'] })%>
    <div class="backgroud-image">
        <div class="overlay-background" style="background-image: url('images/fundo-preto.png');"></div>
        <nav class="navbar-color color-pattern">
            <div class="nav-wrapper">
                <a href="javascript:void(0)" class="brand-logo center">Travel's Control</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
                <div class="color-pattern-secundary" style="width: 100%; height:4px;"></div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l5" id="form-login">
                    <div class="card color-pattern">
                        <div class="color-pattern-secundary" style="width: 100%; margin-top: 10px; height:4px;" ></div>
                        <div class="card-content white-text">
                            <span class="card-title">Login</span>
                            <div class="card-content white-text">
                                <form method="post" action="/login">
                                    <div class="input-field">
                                        <input id="email" name="email" type="email" class="validate">
                                        <label class="white-text" for="email">E-mail</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="senha" name="senha" type="password" class="validate">
                                        <label class="white-text" for="senha">Senha</label>
                                    </div>
                                    <div>
                                        <button type="submit" class="color-pattern-secundary waves-effect waves-light btn btn-login">
                                            Entrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
<%- include('../template/end.ejs', { files: [] })%>