<%- include('../template/top.ejs', { files: [] }) %>
    <%- include('../template/navbar.ejs') %>
    
    <%- include('../template/menu.ejs') %>

    <main class="content">
        <h1>Dashboard!</h1>
    </main>

<%- include('../template/end.ejs', { files: [] }) %>