<form action="<%= href %>" method="POST" class="form-option-grid">
    <div id="modal-form-delete-<%= id %>" class="modal">
        <div class="modal-content">
            <h4>Deseja realmente excluir o registro?</h4>
            <p>Essa ação não poderá ser desfeita.</p>
        </div>
        <div class="modal-footer" style="width: 98%;">
            <button type="button" href="javascript:void(0)" onclick="$('#modal-form-delete-<%= id %>').modal('close');" class="modal-action modal-close waves-effect waves-light btn-flat">Cancelar</button>
            <button type="submit" class="modal-action modal-close waves-effect waves-light btn-flat">Excluir</a>
        </div>
    </div>
    <a href="#modal-form-delete-<%= id %>" class="modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Excluir registro">
        <i class="material-icons" style="color:white;">delete</i>
    </a>
</form>