<ul id="slide-out" class="sidenav sidenav-fixed color-pattern">
    <li>
        <div class="user-view">
            <div class="background">
            </div>
            <div style="background-image: url('images/default-user.jpg')" class="circle center img-user white"> </div>
            <a href="javascript:void(0)"><span class="white-text name">Usuário de teste</span></a>
            <a href="javascript:void(0)"><span class="white-text email">teste@teste.com</span></a>
        </div>
    </li>
    <li>
        <div class="line-menu"></div>
    </li>
    <li>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div id="big-menu-home" class="collapsible-header white-text"><i class="material-icons">home</i>
                    <a class="white-text" href="/home">
                        Home
                    </a>
                </div>
            </li>
            <li>
                <div id="big-menu-administrativo" class="collapsible-header white-text"><i class="material-icons">assignment_turned_in</i>Cadastros</div>
                <div class="collapsible-body">
                    <ul class="menu-background">
                        <li><a href="javascript:void(0)"><i class="material-icons">add_to_photos</i>Novo pedido</a></li>
                        <li><a href="javascript:void(0)"><i class="material-icons">search</i>Visualizar bebidas</a></li>
                        <li><a href="javascript:void(0)"><i class="material-icons">search</i>Visualizar pedidos</a></li>
                        <li><a href="javascript:void(0)"><i class="material-icons">cancel</i>Cancelar pedido</a></li>
                    </ul>
                </div>
            </li>
            <!-- <li>
                <div id="big-menu-operational" class="collapsible-header white-text"><i class="material-icons">people</i>Clientes</div>
                <div class="collapsible-body">
                    <ul class="menu-background">
                        <li><a href="{{ route('clientes.visualizar') }}"><i class="material-icons">add_to_photos</i>Cadastrar</a></li>
                    </ul>
                </div>
            </li> -->
            <!-- <li>
                <div id="big-menu-operational" class="collapsible-header white-text"><i class="material-icons">assignment</i>Comandas</div>
                <div class="collapsible-body">
                    <ul class="menu-background">
                        <li><a href="{{ route('comandas.visualizar') }}"><i class="material-icons">device_hub</i>Vincular cliente</a></li>
                    </ul>
                </div>
            </li> -->
            <li>
                <div class="collapsible-header white-text"><i class="material-icons">power_settings_new</i>
                    <a style="width: 100%;" href="/logout" class="white-text">
                        Sair
                    </a>
                </div>
            </li>
        </ul>
    </li>
</ul>