<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon white" href="" />
    
    <title>Travels Control</title>

    <!-- Styles -->
    <%- include('style.ejs') %>
    
    <% if (files && files.length > 0) { %>
        <% files.forEach((file, index) => { %>
            <link href="<%=file%>" rel="stylesheet">
        <% }); %>
    <% } %>
    
</head>
<body>